/* Homepage styles */

.img-padding {
  width: 80%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.button-homepage p {
  text-transform: uppercase;
  color: #777;
  margin-top: 0px;
}

.button-homepage-desc {
  text-transform: none;
}

h2 {
  color: #333;
}

h2 a, h2 a:hover {
  color: #333;
}

.box-padder {
  background: #fff;
}

.box-padder p {
  padding: 1rem 1rem 1rem;
  margin-top: 0rem;
}

.heading {
  background: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: -100px;
  display: block;
  position: relative;
  padding: 10px;
  border-radius: 5px;
}
/* MAIN DONATE BOX */
.donatebox {
  margin: 1.5em auto;
  display: block;
  text-align: center;
  width: 100%;
  padding: 2em 0;
  border-top: 5px solid #004990;
  border-bottom: 5px solid #004990;
}

.donatebox h2 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
/* Donation amount */
.donation_amount {
  padding:1.5em 0;
}
.donate-amount {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  padding: 1em;
  text-align: center;
}

.donation-amount-btn {
  float: left;
  border: 2px solid #5091cd;
  padding: 1em 1.5em;
  margin: 0 0.5em;
  font-size:1em;
  text-align: center;
  font-weight: bold;
  color: #5091cd;
  border-radius: 3px;
}


.donation-amount-btn:hover {
  background: #5091cd;
  color: #fff;
}

.donation-amount-btn:active {
  background: #5091cd;
  color: #fff;
}

.donate-buttons {
  margin: 0.5em 0;
}

.pay-by-buttons {
  background: #b11416;
}
.title {}
  p {
  }

  .btn-clicked {
    background: #5091cd;
    color:#fff;
  }
