/* News article styles */
	.article-body {
		font-family: 'Georgia', 'Times New Roman', serif;
	}

	.article-body .share img {
		width: 3rem;	
		margin-right: 0.5rem;
	}

	h1 {
		color: #004990;
		font-size: 4.2rem;
		font-weight: normal;
	}

	.box,.source-holder span,figcaption{
		font-family: Roboto;
	}

	.country-bar {
		font-style: italic;
		font-weight: bold;
		font-size: 1.4rem;
		text-align: right;
		color: #004990;
		padding: 0.1rem;
		border-radius: 4px;
		font-family: 'Roboto','Arial',sans-serif;
	}
		
	.country {
		font-style: italic;
		font-weight: bold;
		font-size: 1.4rem;
		color: #004990;
		margin: 0rem;
	}
	
	blockquote {
		margin-left: 0px;
	}
	blockquote.left {
		width: 50%;
		float: left;
	}
		
	blockquote.right {
		width: 50%;
		float: right;
		margin-left: 2rem;
	}	

		
	blockquote p {
		font-size: 4rem;
		border-left: 4px solid #004990;
		color: #004990;
		line-height: 4.4rem;
		padding-left: 4rem;
	}	

	blockquote p.quote-author {
		border-left: 0px solid #333;	
		font-size: 1.6rem;	
		color: #333;
	}
	
	.box-head {
		font-family: 'Roboto','Arial',sans-serif;
	}

	@media screen and (max-width: 767px) {
		blockquote.left,blockquote.right {
			width: 100%;
		}
	}