/* Shop styles */

.product-item {
	margin-bottom: 2rem;
}
.product-item img {
	border: 1px solid #eaeaea;
}

.product-title {

}

.product-price {
 color: #b11416;
 font-weight: bold;
}

.product-details {
 color: #999;
 font-weight: normal;
 font-size: 1.4rem;
}

.pagination {
	text-align: center;
	color: #777;
}

.pagination a ,.pagination a:visited,.pagination a:active{
	color: #777;
}

.pagination a:hover {
	color: #004990;
}

.pagination a.next {
	float: right;
}

.pagination a.previous {
	float: left;
}

.pagination a.pages {
	padding: 0px 1rem;
	background: #fff;
	font-weight: bold;
}

.shop-grid-list {
	margin-bottom: 1rem;
}

.no-top-margin {
	margin-top: 0rem;
}

button.small {
	padding: 0.5rem 1rem;
	text-transform: none;
}